.navbar {
  height: 100px;

  .wrapper {
    max-width: 1336px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }
  span {
    font-weight: bold;
  }

  .social {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
